html {
  font-family: "Space Grotesk", sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 10px;
  background: #f4f9fc;
  font-family: "Space Grotesk", sans-serif;
}
.header,
footer {
  background: #c0f3ff;
  margin: 10px auto;
  padding: 5px 40px;
  min-width: 250px;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
header .nav-element {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.underline {
  height: 2px;
  max-width: 0%;
  background-color: black;
  animation: under-line 2s ease-in-out forwards;
}

/* header {
  position: sticky;
  top: 10px;
} */

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
#logo1 {
  margin: 0;
  font-weight: bold;
  font-size: x-large;
  text-decoration: none;
  color: black;
}

.left-elements,
.right-elements {
  padding-left: 0;
}
h3 {
  margin: 0;
}

#hero {
  padding: 10px 0 10px 8%;
  display: flex;
  align-items: flex-start;
}
.designer-svg {
  width: 600px;
  padding: 0;
  filter: drop-shadow(15px 10px 0px #c0f3ff);
  z-index: -1;
}
.hero-1 {
  display: flex;
  flex-direction: column;
}
.hero-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: 80px;
  margin: 10px 0;
}
button a {
  text-decoration: none;
  color: #353535;
}
.btn {
  display: flex;
  gap: 10px;
}
.hero-btn {
  cursor: pointer;
  background: #c0f3ff;
  border-width: 0;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: "Space Grotesk", sans-serif;
  transition: all 0.2s ease-in-out;
}
.heading {
  padding: 20px;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 3px 0px #c0f3ff;
}
.sk-icon {
  font-size: 50px;
  text-shadow: 4px 2px 0px #c0f3ff;
}
.sk-icon:hover,
.sk-img:hover {
  animation: rotate-icon 0.5s ease-in-out 0s 2;
}

.sk-img {
  width: 60px;
}
.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  padding: 15px 0;
}
.skill-icon {
  text-align: center;
  cursor: pointer;
  align-self: end;
}
.projects-container {
  margin: 0 auto;
  padding: 20px 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  place-content: center;
}
.project {
  width: 250px;
  background: white;
  padding: 25px 25px;
  box-shadow: 0px 0px 2px #27d7ff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
span {
  color: black;
  text-shadow: 2px 2px 0px #c0f3ff;
  font-size: 20px;
}
.project-img {
  width: 250px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  box-shadow: 0px 0px 3px #27d7ff;
}
.project-content {
  margin-top: 15px;
}
footer {
  margin-top: 50px;
}
.social-icons a {
  font-size: large;
  text-decoration: none;
  color: black;
}
.ed-icon-bg {
  padding: 15px;
  background-color: white;
  align-self: center;
  align-content: center;
  vertical-align: middle;
  box-shadow: 0px 0px 2px #01b6de;
  border-radius: 10px;
}
.ed-icon {
  text-align: center;
  font-size: 50px;
  text-shadow: 4px 2px 0px #c0f3ff;
}
.ed-icon:hover {
  cursor: pointer;
  animation: rotate-icon 1s ease-in 0s 2 alternate both;
}
.ed-container {
  min-width: 200px;
  max-width: 1200px;
  display: grid;
  row-gap: 40px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 20px;
}
.school {
  display: flex;
  gap: 10px;
  align-items: center;
}
.ed-content p,
.ed-content h4 {
  margin: 3px;
}
.project-btn {
  background: #c0f3ff;
  padding: 5px 15px;
  text-decoration: none;
  text-align: center;
  color: black;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.project-btn:hover,
.hero-btn:hover {
  background: #90ebff;
  color: whitesmoke;
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact-form {
  display: flex;
  flex-direction: column;
  width: 400px;
}
#contact-form input,
#contact-form textarea {
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  border-width: 0;
  box-shadow: 0px 0px 2px black;
  outline: none;
}
#contact-form input:hover,
#contact-form input:focus,
#contact-form textarea:active,
#contact-form textarea:focus {
  outline: 1px solid #01b6de;
  box-shadow: 0px 0px 2px #90ebff;
}
#submit {
  max-width: 100px;
  padding: 4px 8px;
}
#submit {
  background: #90ebff;
  border-width: 0;
  padding: 10px 5px;
  border-radius: 4px;
  font-family: "Space Grotesk", sans-serif;
}
#submit:hover {
  cursor: pointer;
  background: #c0f3ff;
}
@keyframes under-line {
  0% {
    max-width: 0%;
  }
  100% {
    max-width: 100%;
  }
}
@keyframes rotate-icon {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 0, 0, 360deg);
  }
}
@media screen and (max-width: 1280px) {
  .heading {
    font-size: xx-large;
  }
  #hero {
    padding-left: 5%;
    justify-content: center;
    align-items: center;
  }
  .ed-container {
    grid-template-columns: 1fr;
    max-width: 500px;
    margin: 0 auto;
  }
  .name {
    font-size: 60px;
  }
  .designer-svg {
    width: 350px;
  }
  .hero-2 {
    margin-top: 30px;
    align-items: center;
  }
  .skills-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .projects-container {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media screen and (max-width: 668px) {
  .header,
  footer {
    padding: 5px 25px;
  }
  ul {
    gap: 10px;
  }
  #hero {
    flex-direction: column;
    padding-left: 1%;
    justify-content: center;
    align-items: center;
  }
  .btn {
    justify-content: center;
  }
  #logo1 {
    display: none;
  }
  .designer-svg {
    width: 300px;
  }
  .projects-container {
    grid-template-columns: 1fr;
  }
  footer h3 {
    font-size: small;
  }
  #contact-form {
    width: 300px;
  }
}

/* scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f4f9fc;
}

::-webkit-scrollbar-thumb {
  background: #90ebff;
}

::-webkit-scrollbar-thumb:hover {
  background: #01b6de;
}
