html {
  font-family: "Space Grotesk", sans-serif;
}
body {
  margin: 10px;
  background: #f4f9fc;
  font-family: "Space Grotesk", sans-serif;
}
.header,
footer {
  background: #c0f3ff;
  margin: 10px auto;
  padding: 5px 40px;
  min-width: 250px;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
header a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
header {
  position: sticky;
  top: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
#logo1 {
  margin: 0;
  font-weight: bold;
  font-size: x-large;
}

.left-elements,
.right-elements {
  padding-left: 0;
}
h3 {
  margin: 0;
}
header a:hover {
  text-decoration: underline;
  transition: 0.5s ease-in-out;
}
#hero {
  padding: 10px 0 10px 8%;
  display: flex;
  align-items: flex-start;
}
.designer-svg {
  width: 600px;
  padding: 0;
  filter: drop-shadow(15px 10px 0px #c0f3ff);
  z-index: -1;
}
.hero-1 {
  display: flex;
  flex-direction: column;
}
.hero-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: 80px;
  margin: 10px 0;
}
button a {
  text-decoration: none;
  color: #353535;
}
.btn {
  display: flex;
  gap: 10px;
}
.hero-btn {
  cursor: pointer;
  background: #c0f3ff;
  border-width: 0;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: "Space Grotesk", sans-serif;
}
.heading {
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 5px 0px #c0f3ff;
}
.sk-icon {
  font-size: 50px;
  text-shadow: 4px 2px 0px #c0f3ff;
}
.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  padding: 15px 0;
}
.skill-icon {
  text-align: center;
  cursor: pointer;
}
.projects-container {
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  place-content: center;
}
.project {
  width: 250px;
  background: white;
  padding: 25px 25px;
  box-shadow: 0px 0px 2px #27d7ff;
  border-radius: 4px;
}
span {
  color: black;
  text-shadow: 2px 2px 0px #c0f3ff;
  font-size: 20px;
}
.project-img {
  width: 250px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  box-shadow: 0px 0px 3px #27d7ff;
}
.project-content {
  margin-top: 15px;
}
footer {
  margin-top: 50px;
}
.social-icons a {
  font-size: large;
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 1280px) {
  #hero {
    padding-left: 5%;
    justify-content: center;
    align-items: center;
  }

  .name {
    font-size: 60px;
  }
  .designer-svg {
    width: 250px;
  }
  .hero-2 {
    margin-top: 30px;
    align-items: center;
  }
  .skills-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .projects-container {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media screen and (max-width: 668px) {
  ul {
    gap: 10px;
  }
  #hero {
    flex-direction: column;
    padding-left: 1%;
    justify-content: center;
    align-items: center;
  }
  .btn {
    justify-content: center;
  }
  #logo1 {
    display: none;
  }
  .projects-container {
    grid-template-columns: 1fr;
  }
}

/* scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f4f9fc;
}

::-webkit-scrollbar-thumb {
  background: #90ebff;
}

::-webkit-scrollbar-thumb:hover {
  background: #01b6de;
}
